@import url("../../assets/common.css");

.content-container-register {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.content-register {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 15px;
  align-items: baseline;
}
.title-register {
  color: var(--main);
  font-weight: 670;
  font-size: 40px;
  padding-left: 0px;
  display: flex;
  position: relative;
  width: fit-content;
  margin-bottom: 20px;
}
.sign-in-logo-register {
  align-self: left;
  height: 50px;
  width: 50px;
  fill: var(--main);
  position: relative;
  padding-right: 14px;
}
.input-fields-register {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 600px;
  position: relative;
  width: 100%;
}
a {
  color: var(--shadow-grey);
  font-size: 13px;
}