.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 390px;
}

.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
  outline: 1px solid;
  border: none;
}
.input-field:focus {
  outline-color: var(--main);
  outline-width: 3px;
}

.submit-button {
  font-size: 16px;
  background-color: var(--main);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}
.submit-button:hover {
  background-color: var(--main-dark);
}
.contact-textarea,
.invalid-textarea {
  width: 100%;
  height: 130px;
  resize: none;
  border-radius: 7px;
  display: block;
  font-family: "Lexend", sans-serif;
  margin-top: 15px;
  border: none;
  outline: 1px solid black;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
}
.contact-textarea:focus {
  outline: 3px solid var(--main);
}
.invalid-textarea:focus,
.invalid-textarea {
  outline-color: var(--dark-error-red);
}
.required-feild-error-contact {
  color: var(--dark-error-red);
  opacity: 90%;
  font-size: 10px;
  position: absolute;
  left: 4px;
  bottom: -20px;
}
.contact-title {
  position: relative;
  display: block;
  width: 100%;
  color: black;
  padding-bottom: 20px;
}
.contact-subtitle {
  color: var(--grey-text);
  font-weight: 100;
}
