.icon-svg {
    position: relative;
    display: inline-block;
  }
  
  .icon-circle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-number {
    font-size: 12px;
    font-weight: bold;
    color: black;
    z-index: 1;
  }
  