@import url("./../../assets/common.css");

.selection-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 400px;
  position: relative;
}

label{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  color: var(--grey-text);
  cursor: pointer;
  position: relative;
}
.panel-heading {
  font-size: 25px;
  margin-bottom: 5px;
  grid-column: 1/ -1;
  font-weight: normal;
  margin-left: 7px;
}
input[type="radio"] {
  appearance: none;
  background-color: white;
  margin-right: 10px;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 2.5px solid var(--main);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.9em 0.9em var(--main);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="radio"]:disabled{
    border-color: var(--grey);
}

