.star-rating {
  display: flex;
  align-items: center;
}

.star {
  display: inline-block;
  width: 16px; /* Adjust the width of the stars */
  height: 16px; /* Adjust the height of the stars */ /* Set the color of the empty stars */
  margin-right: 2px; /* Adjust the spacing between the stars */
  fill: var(--faded-yellow);
}
