.data-container {
  width: inherit;
  height: inherit;
  margin-top: 40px;
  text-align: center;
}
.data-container span {
  color: white;
  display: block;
  margin-bottom: 10px;
}
.time-icon {
  fill: white;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.total-time {
  margin-bottom: 30px;
}
.time-breakdown {
  display: flex;
  justify-content: space-around;
}
.time-title {
  opacity: 90%;
  margin-bottom: 16px;
}
.trends {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: self-end;
  height: 60px;
}
.chart {
  background-color: white;
  border-radius: 3px;
  width: 50px;
  margin-right: 5px;
  justify-content: baseline;
}
.directions-button {
  display: inline-block;
  outline: 3px solid white;
  border-radius: 15px;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 13px 40px;
  cursor: pointer;
  margin-top: 37px;
}
.directions-button:hover {
  background-color: var(--main-hover);
}
