.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  white-space: nowrap;
  background-color: transparent;
  width: 100px; /* Set a fixed width for the navbar items */
}

.navbar-item.selected {
  background-color: blue;
  border-radius: 20px;
  padding: 8px 16px;
  color: white;
}
