@import url("../assets/common.css");

@keyframes slideUp {
  from {
    top: 17.5px;
    left: 40px;
    scale: 1;
  }
  to {
    top: -10px;
    left: 23.5px;
    scale: 0.6;
  }
}

@keyframes slideDown {
  from {
    top: -10px;
    left: 23.5px;
    scale: 0.6;
  }
  to {
    top: 17.5px;
    left: 40px;
    scale: 1;
  }
}

.container {
  width: 60%;
  position: relative;
  display: flex;
  height: 50px;
  left: 20px;
  top: 20px;
  border-radius: 8px;
  outline: 1.5px solid var(--grey);
  transition: outline 100ms linear;
  margin-bottom: 10px;
  display: flex;
}
.container.focus, .container:hover {
  outline-width: 2px;
}

.input {
  width: 100%;
  border-radius: 7px;
  border-color: transparent;
  outline-width: 0;
  height: auto;
  padding-left: 40px;
  font-size: 17px;
  color: var(--grey-text);
  position: relative;
  background-color: transparent;
  
}

.label {
  color: var(--grey-text);
  font-size: 17px;
  width: fit-content;
  position: relative;
  top: -2px;
}

.icon {
  width: auto;
  height: 16px;
  fill: var(--grey);
  position: absolute;
  left: 15px;
  align-self: center;
}
.visible-eye{
  width: auto;
  height: 16px;
  fill: var(--grey);
  position: absolute;
  left: 410px;
  align-self: center;
}

.background {
  animation-name: slideDown;
  animation-duration: 200ms;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  height: 20px;
  left: 40px;
  top: 17.5px;
  width: fit-content;
  height: auto;
}

.background.focus {
  left: 23.5px;
  top: -10px;
  scale: 0.6;
  background-color: white;
  animation-name: slideUp;
}
