@import url("../assets/colours.css");
.text-field{
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--main-grey);
    outline-width: 0;
    height: 50px;
    padding-left: 55px;
    font-size: 17px;
    position: absolute;
    color: rgb(90,90,90);
    
}
.text-field-shell{
    width: 40%;
    position: absolute;
    left:20px;
    top:20px;
}
.input-icon{
    width: 25px;
    height: auto;
    fill: var(--main-grey);
    position: absolute;
    top: 16px;
    left: 18px;

}