:root {
    --main: #007e70;
    --main-dark:#00655a;
    --main-dark2: #00655a;
    --secondary: white;
    --grey: #868585;
    --grey-text: rgb(86,86,86);
    --error-red: #eb0c31;
    --shadow-grey: #bdbfbe; 
    --hover-grey: #eeecec; 
    --faded-green: #ccdca4;
    --faded-yellow: #f1b84a;
    --faded-red: #e1897b;
    --light-hover-grey: #f7f6f6;
}