:root {
    --main: #59CCFC;
    --main-dark:#40B6E7;
    --main-dark2: #58B7FB;
    --secondary: white;
    --grey: #868585;
    --grey-text: rgb(86,86,86);
    --error-red: #eb0c31;
    --shadow-grey: #bdbfbe;  
}
