.info-line {
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 5px; /* Add some spacing between the icon and text */
  }
  
  .info-text {
    font-size: 10px; /* Adjust the font size as needed */
  }
  